<% content_for :status_bar do %>
  <h2><%= t('headings') %><%= path_separator %><%= t('import_heading') %></h2>
  <div id="links">
    <%= link_to_index t('listing_headings'), headings_path %>
  </div>
<% end %>

<div class="span12">
  <%# TAI aggiunto = prima di form_for %>
    <%= form_for :upload, :url => preview_csv_headings_path, :html => {:multipart => true } do |f| %>

<%# Upgrade 2.2.0 inizio %>
  <% if current_user.is_multi_group_user?() %>
    <div style="text-align: justify;">
      Per eseguire l'operazione è necessario selezionare il gruppo cui associare i lemmi che verranno importati scegliendolo tra i gruppi associati all'utente corrente.
    </div>
    <div style="margin-top: 10px;">
      <%= label_tag :group_id, raw(t('devise.attributes.group_id') + required_marker + '<span class="inline-msg hide">obbligatorio</span>'), :class => "control-label" %>            
      <%= select :heading, :group_id, rel_user_groups_select(current_user.rel_user_groups), {:prompt => t('devise.attributes.group_id_prompt'), :selected => current_user.rel_user_groups[0].group_id} %>
    </div>
  <% else %>
    <%= hidden_field_tag 'heading[group_id]', current_ability.target_group_id %>
  <% end %>
<%# Upgrade 2.2.0 fine %>

  <div style="margin-top: 10px;">
    <%# FIXME: spiegare come deve essere strutturato il file CSV e magari fornire file di esempio %>
    <p>Puoi importare i lemmi da un file in formato <code>CSV</code> strutturato.</p>

<%# Upgrade 2.2.0 inizio %>
    <p>Ogni riga del file definisce un lemma mediante indicazione del valore di massimo quattro colonne separate da ";" i cui contenuti sono assegnati nell'ordine ai seguenti campi: <%= t('heading_type') %>, <%= t('heading_name') %>, <%= t('heading_dates') %>, <%= t('heading_qualifier') %>.</p>
    <p>La prima riga è considerata titolo e il suo contenuto viene quindi ignorato.</p>
<%# Upgrade 2.2.0 fine %>
      <p style="margin: 1.5em 0 1em 0;"><%= f.file_field :csv %></p>
      <p><%= f.submit t('import_file'), :class => "btn btn-primary" %></p>
    <% end %>
  </div>
</div>

