<% content_for :status_bar do %>
  <h2><%= status_bar_context %></h2>
<%# Upgrade 2.2.0 inizio %>
  <%# if current_user.is_at_least_admin? %>
  <% if current_user.is_superadmin? || current_user.is_admin_for_some_group? %>
    <div id="links">
      <%= link_to "Vai alla lista utenti", users_path %>
    </div>
  <% end %>
<%# Upgrade 2.2.0 fine %>
<% end %>

<div class="span12">

<div id="index-controls">
<%# Upgrade 2.1.0 inizio %>
  <%#= link_to t('new'), new_group_path, { :class => "btn btn-small new" } %>
  <% if current_ability.can?(:create, Group) %>
    <%= link_to t('new'), new_group_path, { :class => "btn btn-small new" } %>
  <% end %>
<%# Upgrade 2.1.0 fine %>
</div>

<div class="row">
  <div class="span12">
    <table class="table table-sortable">
      <tr>
        <th><%= sortable("name", t('name')) %></th>
        <th class="center"><%= t('users_count') %></th>
        <th class="center"><%= t('digital_objects') %></th>
        <th><%= sortable("created_at", t('created_at')) %></th>
        <th>&nbsp;</th>
      </tr>
      <% @groups.each do |group| %>
      <tr>
        <td>
<%# Upgrade 2.1.0 inizio %>
          <%#= link_to_unless(group.name == 'default', group.name, edit_group_path(group)) %>
          <%= link_to group.name, edit_group_path(group) %>
<%# Upgrade 2.1.0 fine %>
        </td>
        <td class="center">
          <%= group.users.select {|u| u.active == true }.size %> / <%= group.users.size %>
        </td>
<%# TAI aggiunto raw() %>
        <td class="center"><%= number_to_human_size(@assets[group.id]) || raw("&mdash;") %></td>
        <td><%= l group.created_at, :format => :long %></td>
        <td>
          <%= link_to_if(group.is_empty?, t('destroy'), group, :method => :delete) do |text| '' end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

</div>
