<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
<div class="container-fluid">

<ul class="nav">
  <li<%= active_if(controller_name == "site" && action_name == "dashboard") %>>
  <%= link_to t('dashboard'), root_path %></li>
  <li class="dropdown" id="nav-descriptions">
<%# TAI aggiunto raw() %>
    <%#= link_to 'Schede <b class="caret"></b>', "#nav-descriptions", :class => "dropdown-toggle", :'data-toggle' => "dropdown" %>
    <%= link_to raw('Schede <b class="caret"></b>'), "#nav-descriptions", :class => "dropdown-toggle", :'data-toggle' => "dropdown" %>
    <ul class="dropdown-menu">
      <li><%= link_to t('fonds'), fonds_path %></li>
      <li><%= link_to t('creators'), creators_path %></li>
      <li><%= link_to t('custodians'), custodians_path %></li>
      <li class="divider"></li>
      <li><%= link_to t('sources'), sources_path %></li>
      <li><%= link_to t('digital_objects'), IM_ENABLED ? all_digital_objects_path : disabled_digital_objects_path %></li>
      <li class="divider"></li>
      <li><%= link_to t('institutions'), institutions_path %></li>
      <li><%= link_to t('document_forms'), document_forms_path %></li>
      <li class="divider"></li>
      <li><%= link_to t('projects'), projects_path %></li>
      <li><%= link_to t('editors'), editors_path %></li>
    </ul>
  </li>
  <li class="dropdown" id="nav-tools">
<%# TAI aggiunto raw() %>
    <%#= link_to 'Strumenti <b class="caret"></b>', "#nav-tools", :class => "dropdown-toggle", :'data-toggle' => "dropdown" %>
    <%= link_to raw('Strumenti <b class="caret"></b>'), "#nav-tools", :class => "dropdown-toggle", :'data-toggle' => "dropdown" %>
    <ul class="dropdown-menu">
      <li><%= link_to t('headings'), headings_path %></li>
      <li><%= link_to t('personal_details'), anagraphics_path %></li> <%# link a schede anagrafiche %>
      <li class="divider"></li>
<%# TAI aggiunto raw() %>
      <li><%= link_to raw("Controllo qualità&hellip;"), quality_checks_path %></li>
<%# TAI aggiunto raw() %>
      <li><%= link_to raw("Report&hellip;"), reports_path %></li>
<%# Upgrade 3.0.0 Inizio %>
<%# TAI aggiunto raw()  per nuovo Strumento Occorrenze Multiple %>
      <li><%= link_to raw("Occorrenze Multiple&hellip;"), multiple_occours_path %></li>
<%# Upgrade 3.0.0 Fine %>
      <li class="divider"></li>
<%# TAI aggiunto raw() %>
      <li><%= link_to raw("Importa&hellip;"), imports_path %></li>
<%# TAI aggiunto raw() %>
      <li><%= link_to raw("Esporta&hellip;"), exports_path %></li>
      <% if current_user.is_superadmin? %>
        <li class="divider"></li>
        <li><%= link_to "Gestione utenti", users_path %></li>
        <li><%= link_to "Gestione gruppi", groups_path %></li>
      <% end %>
<%# Upgrade 2.2.0 inizio %>
      <%# if current_user.is_admin? %>
      <% if current_user.is_admin_for_some_group? %>
<%# Upgrade 2.2.0 fine %>
        <li class="divider"></li>
        <li><%= link_to "Gestione utenti", users_path %></li>
<%# Upgrade 2.1.0 inizio %>
        <% if current_ability.can?(:manage, Group) %>
          <li><%= link_to "Gestione gruppi", groups_path %></li>
        <% end %>
<%# Upgrade 2.1.0 end %>
      <% end %>
    </ul>
  </li>
  <li<%= active_if(controller_name == "vocabularies") %>><%= link_to 'Vocabolari', vocabularies_path %></li>
</ul>

  <%= render :partial => "shared/devise_status" %>

</div>
</div>
</div>

