<%# TAI aggiunto = prima di form_for %>
<%= form_for @import, :html => { :id => 'import-wait', :multipart => true } do |f| %>

<%# Upgrade 2.2.0 inizio %>
  <% if current_user.is_multi_group_user?() %>
    <div style="text-align: justify;">
      Per eseguire l'operazione è necessario selezionare il gruppo cui associare i dati che verranno importati scegliendolo tra i gruppi associati all'utente corrente.
    </div>
    <div style="margin-top: 10px;">
      <%= label_tag :group_id, raw(t('devise.attributes.group_id') + required_marker + '<span class="inline-msg hide">obbligatorio</span>'), :class => "control-label" %>            
      <%= select :import, :group_id, rel_user_groups_select(current_user.rel_user_groups), {:prompt => t('devise.attributes.group_id_prompt'), :selected => current_user.rel_user_groups[0].group_id} %>
    </div>
  <% else %>
    <%= hidden_field_tag 'import[group_id]', current_ability.target_group_id %>
  <% end %>
<%# Upgrade 2.2.0 fine %>

  <p style="margin: 1.5em 0 1em 0;">
    <%= f.file_field :data %>
  </p>
  <p><%= f.submit t('import_file'), :name => "save", :class => "btn btn-primary" %></p>
<% end %>
