<%# Upgrade 2.0.0 inizio %>
<%#= render :partial => "shared/generic_error_message", :object => @editor %>
<%= render :partial => "shared/generic_error_message", object: @editor, as: "object"%>
<%# Upgrade 2.0.0 fine %>
<div class="span9">
<%# TAI aggiunto = prima di form_for %>
  <%= form_for @editor do |f| %>

<%# Upgrade 2.2.0 inizio %>
  <%= hidden_field_tag 'group_id', current_ability.target_group_id %>
<%# Upgrade 2.2.0 fine %>

<%# TAI aggiunto parametro per specificare nome e caption, aggiunto raw() %>
    <%= f.label 'editors_first_name', raw(t('editors_first_name') + required_marker) %>
    <%= f.text_field :first_name, :class => "span3" %>

<%# TAI aggiunto parametro per specificare nome e caption, aggiunto raw() %>
    <%= f.label 'editors_last_name', raw(t('editors_last_name') + required_marker) %>
    <%= f.text_field :last_name, :class => "span3" %>

  <p><%= f.submit @editor.new_record? ? t('create_editor') : t('save'), :class => "btn btn-primary" %></p>
  <% end %>
</div>
