<div class="fields row">
  <div class="span4">
  	<%= f.label :code, t('fe_code') %>
	<%= f.text_field :code, :class =>"span4 fe_field" %>
  </div>
  <div class="span4">
  	<%= f.label :file_year, t('fe_file_year') %>
	<%= f.number_field :file_year, :class =>"span4 fe_field" %>
  </div>
</div>

<div class="fields row">
  <div class="span4">
  	<%= f.label :category, t('fe_category') %>
	<%= f.text_field :category, :class =>"span4 fe_field" %>
  </div>
  <div class="span4">
  	<%= f.label :identification_class, t('fe_identification_class') %>
	<%= f.text_field :identification_class, :class =>"span4 fe_field" %>
  </div>
</div>